$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";

.graph {
    height: $graph_height;
    width: $graph_width;
    background-color: white;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}